/*
*/
/*
    Created on : Jul 20, 2014, 7:23:43 PM
    Author     : Fred <mconyango@gmail.com>
*/
.my-date-range-picker{
    background: none repeat scroll 0% 0% #FFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25), 0px -1px 0px rgba(0, 0, 0, 0.1) inset;
    color: #333;
    padding: 6px;
    line-height: 10px;
    cursor: pointer;
}
